extends layout

block app
	include github
	#app
		#about
			h4 About
			p Nothing special, just a simple wedding application created as a gift to my wife.
		#credit
			h4 Credit
			p thanks to all the Open Source contributers without whom this idea would have vanished in the beginning itself
		#license
			h4 License
			a(rel="license", href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US", target="_blank")
					img(alt="Creative Commons License", style="border-width:0; width: 100px; heigh:40px", src="/images/cc-by-sa.png")
			p This work is licensed under a 
				a(rel="license", href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US", target="_blank")
					text Creative Commons Attribution-ShareAlike 3.0 Unported License

		#Logos
			br
			h4 Powered By
			p
				#node
					a(href="http://nodejs.org/", target="_blank")
						img(alt="Node.js", src="/images/nodejs.png")
				#express
					a(href="http://expressjs.com", target="_blank")
						img(alt="Express", src="/images/express.png")
				#jade
					a(href="http://jade-lang.com", target="_blank")
						img(alt="Jade", src="/images/jade.png")
				#stylus
					a(href="http://learnboost.github.io/stylus", target="_blank")
						img(alt="Stylus", src="/images/stylus.png")
				#jeet
					a(href="http://jeetframework.com", target="_blank")
						img(alt="Jeet", src="/images/jeet.png")
				#openshift
					a(href="http://www.openshift.com", target="_blank")
						img(alt="OpenShift", src="/images/openshift.png")