block facebook
	pre#statusbar
	#event
	script.
		document.getElementById('statusbar').style.visibility = 'hidden';
		var fbusername = '#{fbusername}';
		var fbeventname = '#{fbeventname}';
	script(src='/javascripts/facebook.js')