block facebooklogin
	#facebooklogin
		input(type='button', value="Login", disabled=false, onclick='FB.login();')#fbloginbutton
		input(type='button', value="Logout", disabled=false, onclick='FB.logout();')#fblogoutbutton
