block googlemap
	p
	script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCFavKD2A9dwGGRzUP55-JO_gxtOqYKgaM&sensor=true')
	script.
		var lat = '#{lat}';
		var lng = '#{lng}';
		var zoom = #{zoom};
		var venue = '#{venue}';
	script(type='text/javascript', src='/javascripts/googlemaps.js')