extends layout

block index
	#index
		#border-top
			img(src='/images/BorderTop.png')
		#invitation-paragraph
			p For the friendship and care you showed for all these days, we
			p
				span#groom
					text #{groom} 
				text and 
				span#bride
					text #{bride} 
			p together with our parents invite you to share the beginning of our new life when we join our hands
			p
				text On 
				span#invitation-date
					text #{date} 
				text Between 
				span#invitation-time
					text #{time} 
				text At 
				span#invitation-venue
					text #{venue}
			#invitation-wishes
				p expecting your presence with your family,
				p #{groom} & #{bride}
		#border-bottom
			img(src='/images/BorderBottom.png')
