doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		meta(property='og:title', content='Wedding Invitation')
		meta(property='og:type', content='website')
		meta(property='og:url', content='http://mwedsd-silentcrooks.rhcloud.com')
		meta(property='og:image', content='http://mwedsd-silentcrooks.rhcloud.com/images/WeddingInvitation-wide.png')
		if page == 'location'
			include googlemap
	body
		#header
			p #{title}
		#invitation
			#navbar
				include navbar
			#invitation-center
				if page == 'index'
					block index
				if page == 'location'
					block location
				if page == 'wishes'
					block wishes
				if page == 'app'
					block app
			#inputbar
				if page == 'location'
					include fromlocation
				if page == 'wishes'
					include facebooklogin