@font-face
	font-family: "Dancing Script"
	src: url(/fonts/DancingScript.ttf)

@font-face
	font-family: "Precious"
	src: url(/fonts/Precious.ttf)

@font-face
	font-family: "MothproofScript"
	src: url(/fonts/MothproofScript.ttf)

@font-face
	font-family: "England Hand DB"
	src: url(/fonts/england.ttf)

@font-face
	font-family: "CAC Champagne"
	src: url(/fonts/cacChampagne.ttf)

#header
	font: 300% "Precious"
	text-align: center
	padding: 1%

#invitation
	#navbar
		col(2/16)
		font: 100% "MothproofScript"
		list-style: none
		ul
			list-style: none
		a:link
			text-decoration: none
			color: black
			height: 23px
			display: block
		a:hover
			color: blue
		#app:link
			text-decoration: none
			color: white
			height: 23px
			display: block
		#app:hover
			color: black
	#invitation-center
		col(12/16)
		#index
			text-align: center
			font-size: 120%
			#invitation-paragraph
				font: 100% "CAC Champagne"
				#groom
				#bride
					font: bold 150% "Dancing Script"
				#invitation-date
				#invitation-time
				#invitation-venue
					font: bold 120% "Dancing Script"
				#invitation-wishes
					font: 100% "England Hand DB"
		#location
			#map-canvas
				img
					max-width: none
		#wishes
			#event
				#comments
					col(2/4, offset: 1/4)
					.comment
						.picture
							col(2/12)
							img
								width: 80%
								border-radius: 10px/10px
								border: 3px solid gray
							img:hover
								border-color: blue
						.message
							col(9/12, offset: 1/12)
							font: italic 100% "Dancing Script"

			#statusbar
				font: 10px monospace
		#app
			font: 100% "Dancing Script"
			h4
				font: bold 100% "Dancing Script"
			a
				text-decoration: none
				color: black
				display: inline
			a:hover
				color: blue
			#Logos
				col(4/12, offset: 4/12)
				#node
				#express
				#jade
				#stylus
				#jeet
				#openshift
					col(1/7)

	#inputbar
		col(2/16)
		font: 100% "MothproofScript"
		#fromlocation
			#search
				center(100%)
				width: 95%
				border-radius: 10px/10px
				text-align: center
			#submit
				center(100%)
				border-radius: 10px/10px
				width: 95%
			#submit:hover
				color: blue
		#facebooklogin
			#fbloginbutton
				center(100%)
				border-radius: 10px/10px
				width: 95%
				text-align: center
			#fbloginbutton:hover
				color: blue
			#fblogoutbutton
				center(100%)
				border-radius: 10px/10px
				width: 95%
				text-align: center
			#fblogoutbutton:hover
				color: blue
